@model IEnumerable<ProductModel>


@{
	ViewData["Title"] = "Products";
}

<div class="container">
	<h1 class="h1Product"><strong>New</strong></h1>
	<br />
@foreach (var item in Model.Where(x=>x.Tag == "new"))
{
	<div class="container mb-5">
		<h3><strong>Name:</strong> @item.Name</h3>
			<h4><strong>Price:</strong> @item.Price.ToString("0.0")$</h4>
		<img class="product-image" src="@item.ImageUrl" alt="img">
		<a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id" class="btn-theme m-5">Details</a>
	</div>
}
	<hr style="font-weight: bold; height:5px; background-color:black;">
</div>



<div class="container">
	<h1 class="h1Product"<strong>Popular</strong></h1>
	<br />
	@foreach (var item in Model.Where(x => x.Tag == "popular"))
	{
		<div class="container mb-5">
			<h3><strong>Name:</strong> @item.Name</h3>
			<h4><strong>Price:</strong> @item.Price.ToString("0.0")$</h4>
			<img class="product-image" src="@item.ImageUrl" alt="img">
			<a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id" class="btn-theme m-5">Details</a>
		</div>
	}
	<hr style="font-weight: bold; height:5px; background-color:black;">
</div>



<div class="container">
	<h1 class="h1Product"><strong>Featured</strong></h1>
	<br />
	@foreach (var item in Model.Where(x => x.Tag == "featured"))
	{
		<div class="container mb-5">
			<h3><strong>Name:</strong> @item.Name</h3>
			<h4><strong>Price:</strong> @item.Price.ToString("0.0")$</h4>
			<img class="product-image" src="@item.ImageUrl" alt="img">
			<a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id" class="btn-theme m-5">Details</a>
		</div>
	}
	<hr style="font-weight: bold; height:5px; background-color:black;">
</div>